* {
    box-sizing: border-box;
}

@font-face{
    font-family:lato;
    src: url('fonts/Lato-Regular.ttf');
}

@font-face{
    font-family:catamaran;
    src: url('fonts/Catamaran-Regular.ttf');
}

@font-face{
    font-family:mulish;
    src: url('fonts/Mulish-Regular.ttf');
}

header {
    background-image: url('img/bg-pattern.png'), linear-gradient(to right, #dd2533,#7b4497);
    height: 120vh;
}

.navbar{
    font-family: catamaran, Arial, Helvetica, sans-serif;
}

.stop{
    height: 100vh;
}

@media only screen and (min-width:992px) {

    header,
    #features {
        height: 100vh;
    }

    .stop {
        height: 75vh;
    }

}

.start {
    color: #fdcc52;
}

.start:hover,
a:hover {
    color: #ffffff;
}

a {
    color: #d8d8d8;
}

#download, #contact{
    background-color: #fec947;;
}

.buttonOne {
    border: 1px solid #ffffff;
    font-family: lato,Arial, Helvetica, sans-serif;
}

.buttonOne:hover {
    background-color: #fdcc52;
    border-color: #fdcc52;
    transition: all .3s;
}


.phone {
    position: absolute;
    top: 0rem;
    left: 26vw;
    width: 16rem;
}

.demo {
    position: absolute;
    top: 3.4rem;
    left: 28vw;
    z-index: 2;
    width: 14rem;
}

@media only screen and (min-width: 992px) {
    .phone {
        
        top: 0rem;
        left: 5px;
        width: 16rem;
    }
    .demo {
        top: 4.3rem;
        left: 1.25rem;
    }
}

.gplay,
.store {
    width: 12rem;
}

i {
    color: #800080;
    opacity: 0.9;
}

i:hover{
    opacity: 1;
}

.place{
    height: 40rem;
}

.fa-heart{
    color: red;
}

hr {
    width: 10%;
}

.stop {
    background-image: url('img/bg-cta.jpg');
}

footer,
footer a {
    background-color: black;
    color: gray;
    font-family: mulish, Arial, Helvetica, sans-serif;
}

footer a:hover {
    color: #fdcc52;
}